body > header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

body {
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
    font-family: "Poppins", serif;
}

.nav_links a:visited {
    color: blue;
}

.pricing {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    margin: 0px auto;
}

.card {
    width: 450px;
    border-radius: 50px 50px 0px 0px;
    /* z-index: -1; */
}

.card > header {
    background-color: #288080;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

/* .about header h3 {
    font-size: 2.5em;
    margin: 0.5em auto;
} */

.about ul li, .about button {
    font-size: 16px;
}

.card ul h4 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery img {
    width: 300px;
    border: solid 10px #50C7C7;
    margin: 10px;
}

@keyframes animation-logo {
    0% {
        width: 25px;
        opacity: 0;
    }

    100% {
        width: 475px;
        opacity: 1;
    }
}

header img {
    animation-name: animation-logo;
    animation-duration: 5s;
}

@media screen and (min-width: 900px) {

    body > header {
        flex-flow: row nowrap;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    header .nav_links{
        display: flex;
        flex-flow: row nowrap;
    }

    .pricing {
        flex-flow: row nowrap;
        justify-content: center;
    }

    .card {
        width: 275px;
    }
}

@media (prefers-reduced-motion) {
    header img {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    nav {
        width: 100%;
    }

    nav .nav_links {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    #gallery, .gallery {
        display: none;
    }

    .pricing {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
    }

    .card {
        width: 325px;
        border: solid 2px #45ADDD;
    }

    .card ul li:nth-child(2)::after {
        content: "👍";
    }
}
